# School structure and student's grades coorelations

Let's import both structure and grades datasets and look for correlations between them.

In [52]:
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
warnings.filterwarnings('ignore')

# notebooks only
%matplotlib inline
pd.set_option('display.precision', 3)

In [53]:
structure = pd.read_csv('./data/censo_inep_municipio.csv')
early_grades = pd.read_csv('./data/ideb-iniciais-municipios.csv')
later_grades = pd.read_csv('./data/ideb-finais-municipios.csv')

In [54]:
structure.head()

,CO_MUNICIPIO,AGUA,ENERGIA,REDE_ESGOTO,TRATA_LIXO,ALMOXARIFADO,AUDITORIO,BANHEIRO,COZINHA,LABORATORIO_CIENCIAS,...,SECRETARIA,QT_SALAS_UTILIZADAS,QT_DESKTOP_ALUNO,INTERNET,ALIMENTACAO,EXAME_SELECAO,ORGAOS,PATIO,BIBLIOTECA,RURAL
0,1100015,1.0,0.909,0.970,0.061,0.212,0.030,0.909,0.939,0.091,...,0.273,6.727,2.182,0.576,1.0,0.000,0.909,0.667,0.273,0.545
1,1100023,1.0,1.000,1.000,0.486,0.622,0.432,1.000,1.000,0.189,...,0.892,13.189,12.324,0.973,1.0,0.027,1.000,1.000,0.730,0.216
2,1100031,1.0,1.000,1.000,0.000,0.500,0.000,0.875,1.000,0.000,...,0.500,8.625,5.250,1.000,1.0,0.000,0.875,1.000,0.500,0.250
3,1100049,1.0,1.000,0.979,0.312,0.625,0.167,0.979,0.979,0.146,...,0.708,9.729,6.708,0.771,1.0,0.208,1.000,0.958,0.438,0.375
4,1100056,1.0,1.000,1.000,0.917,0.500,0.167,1.000,0.917,0.083,...,0.750,8.417,7.750,1.000,1.0,0.000,0.750,1.000,0.417,0.000

In [55]:
early_grades.head()

,CO_MUNICIPIO,TAXA_APROVACAO,INDICADOR_RENDIMENTO (P),NOTA_MATEMATICA,NOTA_PORTUGUES,NOTA_MEDIA (N),IDEB (N x P)
0,1100015,94.033,0.941,218.850,198.457,5.749,5.400
1,1100023,89.633,0.896,216.647,203.073,5.791,5.200
2,1100031,87.500,0.886,216.560,201.970,5.769,5.100
3,1100049,95.900,0.960,223.350,209.440,6.034,5.800
4,1100056,95.000,0.950,249.647,230.310,6.916,6.567

In [69]:
def generate_correlation(df1, df2, feature, prefix):
    df_copy = df1.copy()
    df_copy[feature] = df2[feature]
    corr = df_copy.corr()
    corr.style.background_gradient(cmap='coolwarm').to_excel(
        f'./data/plots/{prefix}-{feature.lower()}-correlation.xlsx')

In [70]:
generate_correlation(structure, later_grades, 'TAXA_APROVACAO', 'later')

In [71]:
generate_correlation(structure, later_grades,
                     'INDICADOR_RENDIMENTO (P)', 'later')

In [72]:
generate_correlation(structure, later_grades, 'NOTA_MATEMATICA', 'later')

In [73]:
generate_correlation(structure, later_grades, 'NOTA_PORTUGUES', 'later')

In [74]:
generate_correlation(structure, later_grades, 'NOTA_MEDIA (N)', 'later')

In [75]:
generate_correlation(structure, later_grades, 'IDEB (N x P)', 'later')