# School structure and student's grades coorelations

Let's import both structure and grades datasets and look for correlations between them.

In [5]:
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
warnings.filterwarnings('ignore')

# notebooks only
%matplotlib inline

In [6]:
structure = pd.read_csv('./data/censo_inep_processado.csv')
early_grades = pd.read_csv('./data/ideb-anos-iniciais-2019.csv')
later_grades = pd.read_csv('./data/ideb-anos-finais-2019.csv')

In [7]:
structure.head()

,SG_UF,CO_MUNICIPIO,AGUA,ENERGIA,REDE_ESGOTO,TRATA_LIXO,ALMOXARIFADO,AUDITORIO,BANHEIRO,COZINHA,...,SECRETARIA,QT_SALAS_UTILIZADAS,QT_DESKTOP_ALUNO,INTERNET,ALIMENTACAO,EXAME_SELECAO,ORGAOS,PATIO,BIBLIOTECA,RURAL
0,RO,1100015,1,1,0,0,0,0,1,1,...,0,1,0,0,1,0,1,0,0,1
1,RO,1100015,1,1,1,0,0,0,1,1,...,1,14,8,1,1,0,1,1,1,0
2,RO,1100015,1,1,1,0,0,0,1,1,...,0,2,0,0,1,0,1,1,0,1
3,RO,1100015,1,1,1,0,0,0,0,1,...,0,5,0,1,1,0,1,1,1,0
4,RO,1100015,1,1,1,0,0,0,1,1,...,0,7,0,1,1,0,1,1,0,1

In [8]:
early_grades.head()

,SG_UF,CO_MUNICIPIO,TAXA_APROVACAO,INDICADOR_RENDIMENTO (P),NOTA_MATEMATICA,NOTA_PORTUGUES,NOTA_MEDIA (N),IDEB (N x P)
0,RO,1100015,90.9,0.931602,233.47,210.48,6.246496,5.8
1,RO,1100015,96.6,0.940604,196.64,180.19,4.992906,4.7
2,RO,1100015,94.6,0.949637,226.44,204.70,6.007245,5.7
3,RO,1100023,87.7,0.876642,223.35,211.65,6.074639,5.3
4,RO,1100023,90.7,0.905529,212.41,197.65,5.611315,5.1