# Initial exploratory data analysis

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')

# notebooks only
%matplotlib inline

In [2]:
df = pd.read_csv('./data/censo_inep_processado.csv')
df.head()

,SG_UF,CO_MUNICIPIO,AGUA,ENERGIA,REDE_ESGOTO,TRATA_LIXO,ALMOXARIFADO,AUDITORIO,BANHEIRO,COZINHA,...,SECRETARIA,QT_SALAS_UTILIZADAS,QT_DESKTOP_ALUNO,INTERNET,ALIMENTACAO,EXAME_SELECAO,ORGAOS,PATIO,BIBLIOTECA,RURAL
0,RO,1100015,1,1,0,0,0,0,1,1,...,0,1,0,0,1,0,1,0,0,1
1,RO,1100015,1,1,1,0,0,0,1,1,...,1,14,8,1,1,0,1,1,1,0
2,RO,1100015,1,1,1,0,0,0,1,1,...,0,2,0,0,1,0,1,1,0,1
3,RO,1100015,1,1,1,0,0,0,0,1,...,0,5,0,1,1,0,1,1,1,0
4,RO,1100015,1,1,1,0,0,0,1,1,...,0,7,0,1,1,0,1,1,0,1

In [3]:
df.shape

(139721, 27)

In [4]:
df.columns

Index(['SG_UF', 'CO_MUNICIPIO', 'AGUA', 'ENERGIA', 'REDE_ESGOTO', 'TRATA_LIXO',
       'ALMOXARIFADO', 'AUDITORIO', 'BANHEIRO', 'COZINHA',
       'LABORATORIO_CIENCIAS', 'LABORATORIO_INFORMATICA', 'QUADRA_ESPORTES',
       'REFEITORIO', 'SALA_DIRETORIA', 'SALA_LEITURA', 'SALA_PROFESSOR',
       'SECRETARIA', 'QT_SALAS_UTILIZADAS', 'QT_DESKTOP_ALUNO', 'INTERNET',
       'ALIMENTACAO', 'EXAME_SELECAO', 'ORGAOS', 'PATIO', 'BIBLIOTECA',
       'RURAL'],
      dtype='object')

In [5]:
df.nunique(axis=0)

SG_UF                        27
CO_MUNICIPIO               5570
AGUA                          2
ENERGIA                       2
REDE_ESGOTO                   2
TRATA_LIXO                    2
ALMOXARIFADO                  2
AUDITORIO                     2
BANHEIRO                      2
COZINHA                       2
LABORATORIO_CIENCIAS          2
LABORATORIO_INFORMATICA       2
QUADRA_ESPORTES               2
REFEITORIO                    2
SALA_DIRETORIA                2
SALA_LEITURA                  2
SALA_PROFESSOR                2
SECRETARIA                    2
QT_SALAS_UTILIZADAS          88
QT_DESKTOP_ALUNO            100
INTERNET                      2
ALIMENTACAO                   2
EXAME_SELECAO                 3
ORGAOS                        2
PATIO                         2
BIBLIOTECA                    2
RURAL                         2
dtype: int64

In [6]:
df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,CO_MUNICIPIO,AGUA,ENERGIA,REDE_ESGOTO,TRATA_LIXO,ALMOXARIFADO,AUDITORIO,BANHEIRO,COZINHA,LABORATORIO_CIENCIAS,...,SECRETARIA,QT_SALAS_UTILIZADAS,QT_DESKTOP_ALUNO,INTERNET,ALIMENTACAO,EXAME_SELECAO,ORGAOS,PATIO,BIBLIOTECA,RURAL
count,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,...,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000
mean,2983017.728122,0.973032,0.970047,0.930440,0.240665,0.418656,0.087152,0.961301,0.952405,0.086980,...,0.656050,7.555063,4.579662,0.703359,0.991447,0.154665,0.763436,0.755649,0.465750,0.391273
std,1000845.080532,0.161991,0.170457,0.254405,0.427489,0.493341,0.282059,0.192876,0.212908,0.281807,...,0.475026,5.946214,8.837015,0.456779,0.092085,1.093103,0.424974,0.429703,0.498827,0.488037
min,1100015.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2211001.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,3.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,2929206.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,6.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,3541604.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,10.000000,6.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,5300108.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,100.000000,100.000000,1.000000,1.000000,9.000000,1.000000,1.000000,1.000000,1.000000

```QT_SALAS_UTILIZADAS``` and ```QT_DESKTOP_ALUNO``` have a max value of 8888, this is the max number accepted and most likely mean that it's corrupted. Let's explore it.

In [7]:
df[df['QT_SALAS_UTILIZADAS'] > 10]

,SG_UF,CO_MUNICIPIO,AGUA,ENERGIA,REDE_ESGOTO,TRATA_LIXO,ALMOXARIFADO,AUDITORIO,BANHEIRO,COZINHA,...,SECRETARIA,QT_SALAS_UTILIZADAS,QT_DESKTOP_ALUNO,INTERNET,ALIMENTACAO,EXAME_SELECAO,ORGAOS,PATIO,BIBLIOTECA,RURAL
1,RO,1100015,1,1,1,0,0,0,1,1,...,1,14,8,1,1,0,1,1,1,0
5,RO,1100015,1,1,1,1,1,0,1,1,...,1,13,13,1,1,0,1,1,1,0
6,RO,1100015,1,1,1,0,1,0,1,1,...,0,11,0,1,1,0,1,1,0,0
8,RO,1100015,1,1,1,0,0,0,1,1,...,1,15,12,1,1,0,1,1,1,0
13,RO,1100015,1,1,1,0,1,0,1,1,...,0,12,0,1,1,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139715,DF,5300108,1,1,1,0,0,1,1,1,...,1,25,10,1,1,0,1,1,1,0
139716,DF,5300108,1,1,1,0,0,0,1,1,...,1,11,2,1,1,0,1,1,1,0
139717,DF,5300108,1,1,1,1,0,0,1,1,...,1,16,15,1,1,0,1,1,1,0
139718,DF,5300108,1,1,1,1,0,0,1,1,...,1,19,19,1,1,0,1,1,1,0
139720,DF,5300108,1,1,1,1,1,0,1,1,...,1,16,0,1,1,0,1,1,1,0

In [8]:
df[df['QT_SALAS_UTILIZADAS'] == 8888]
df = df.drop(df[df['QT_SALAS_UTILIZADAS'] == 8888].index)

In [9]:
df[df['QT_DESKTOP_ALUNO'] > 100]['QT_DESKTOP_ALUNO'].value_counts()

Series([], Name: count, dtype: int64)

Unfortunetly, it's highly unlikely to have public schools with more than 100 desktops for students, and with more than a hundred active classrooms. This values looks like outliers, errors of count.

In [10]:
df = df.drop(df[df['QT_DESKTOP_ALUNO'] > 100].index)
df = df.drop(df[df['QT_SALAS_UTILIZADAS'] > 100].index)

In [11]:
df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,CO_MUNICIPIO,AGUA,ENERGIA,REDE_ESGOTO,TRATA_LIXO,ALMOXARIFADO,AUDITORIO,BANHEIRO,COZINHA,LABORATORIO_CIENCIAS,...,SECRETARIA,QT_SALAS_UTILIZADAS,QT_DESKTOP_ALUNO,INTERNET,ALIMENTACAO,EXAME_SELECAO,ORGAOS,PATIO,BIBLIOTECA,RURAL
count,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,...,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000,139721.000000
mean,2983017.728122,0.973032,0.970047,0.930440,0.240665,0.418656,0.087152,0.961301,0.952405,0.086980,...,0.656050,7.555063,4.579662,0.703359,0.991447,0.154665,0.763436,0.755649,0.465750,0.391273
std,1000845.080532,0.161991,0.170457,0.254405,0.427489,0.493341,0.282059,0.192876,0.212908,0.281807,...,0.475026,5.946214,8.837015,0.456779,0.092085,1.093103,0.424974,0.429703,0.498827,0.488037
min,1100015.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2211001.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,3.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
50%,2929206.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,6.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,3541604.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,1.000000,10.000000,6.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,5300108.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,100.000000,100.000000,1.000000,1.000000,9.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
df.to_csv('./data/censo_inep_processado.csv', index=False)

In [13]:
df = df.drop('SG_UF', axis=1).groupby(['CO_MUNICIPIO']).mean()
df

,AGUA,ENERGIA,REDE_ESGOTO,TRATA_LIXO,ALMOXARIFADO,AUDITORIO,BANHEIRO,COZINHA,LABORATORIO_CIENCIAS,LABORATORIO_INFORMATICA,...,SECRETARIA,QT_SALAS_UTILIZADAS,QT_DESKTOP_ALUNO,INTERNET,ALIMENTACAO,EXAME_SELECAO,ORGAOS,PATIO,BIBLIOTECA,RURAL
CO_MUNICIPIO,,,,,,,,,,,,,,,,,,,,,
1100015,1.0,0.909091,0.969697,0.060606,0.212121,0.030303,0.909091,0.939394,0.090909,0.151515,...,0.272727,6.727273,2.181818,0.575758,1.000000,0.000000,0.909091,0.666667,0.272727,0.545455
1100023,1.0,1.000000,1.000000,0.486486,0.621622,0.432432,1.000000,1.000000,0.189189,0.837838,...,0.891892,13.189189,12.324324,0.972973,1.000000,0.027027,1.000000,1.000000,0.729730,0.216216
1100031,1.0,1.000000,1.000000,0.000000,0.500000,0.000000,0.875000,1.000000,0.000000,0.250000,...,0.500000,8.625000,5.250000,1.000000,1.000000,0.000000,0.875000,1.000000,0.500000,0.250000
1100049,1.0,1.000000,0.979167,0.312500,0.625000,0.166667,0.979167,0.979167,0.145833,0.354167,...,0.708333,9.729167,6.708333,0.770833,1.000000,0.208333,1.000000,0.958333,0.437500,0.375000
1100056,1.0,1.000000,1.000000,0.916667,0.500000,0.166667,1.000000,0.916667,0.083333,0.250000,...,0.750000,8.416667,7.750000,1.000000,1.000000,0.000000,0.750000,1.000000,0.416667,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5222005,1.0,1.000000,1.000000,0.181818,0.636364,0.000000,1.000000,1.000000,0.090909,0.454545,...,0.727273,8.363636,5.363636,1.000000,1.000000,0.000000,0.818182,1.000000,1.000000,0.272727
5222054,1.0,1.000000,0.200000,0.600000,0.600000,0.400000,1.000000,1.000000,0.200000,0.000000,...,1.000000,9.200000,0.400000,1.000000,1.000000,0.000000,1.000000,1.000000,0.400000,0.000000
5222203,1.0,1.000000,1.000000,0.142857,0.285714,0.000000,1.000000,1.000000,0.000000,0.714286,...,0.714286,5.857143,5.857143,1.000000,1.000000,0.000000,0.571429,1.000000,0.571429,0.285714
5222302,1.0,1.000000,1.000000,0.000000,0.142857,0.000000,1.000000,1.000000,0.000000,0.285714,...,0.571429,5.142857,1.714286,1.000000,1.000000,0.000000,0.571429,1.000000,1.000000,0.571429
5300108,1.0,1.000000,0.998547,0.454942,0.318314,0.139535,0.997093,0.973837,0.151163,0.646802,...,0.973837,15.216570,9.216570,0.975291,0.957849,0.140988,0.972384,0.966570,0.873547,0.119186

In [14]:
df.to_csv('./data/censo_inep_municipio.csv')